/* ------ CSS3 - JavaScript - Reviews Panel ------ */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-secondary: #fff;
  --color-primary-1: hsl(205, 86%, 17%);
  --color-primary-5: hsl(205, 78%, 60%);
  --color-primary-7: hsl(205, 90%, 76%);
  --color-primary-10: hsl(205, 100%, 96%);
  --color-grey-1: hsl(209, 61%, 16%);
  --color-grey-2: hsla(211, 39%, 23%, 0.503);
  --color-grey-5: hsl(210, 22%, 49%);
  --fontfamily-primary: "Roboto", sans-serif;
  --fontfamily-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  font-family: var(--fontfamily-secondary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--fontfamily-primary);
}
h1 {
  color: var(--color-grey-2);
  margin-top: 5rem;
  font-size: 5.5rem;
  text-align: center;
}
h2 {
  color: var(--color-grey-2);
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
.heading {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -11;
}
p {
  font-size: 1.5rem;
  margin-bottom: 2.25rem;
  color: var(--color-grey-5);
}
@media screen and (max-width: 800px) {
  h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* Reviews */
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--color-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 80vw;
  max-width: var(--fixed-width);
}
.review {
  background: var(--color-secondary);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--color-primary-5);
  color: var(--color-secondary);
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  color: var(--color-grey-2);
  font-size: 1.85rem;
  margin-bottom: 1.25rem;
}
#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--color-primary-5);
  font-size: 1.85rem;
}
#info {
  margin-bottom: 1.75rem;
}
.prev-btn,
.next-btn {
  color: var(--color-primary-7);
  font-size: 2.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 1.75rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--color-primary-5);
}
.random-btn {
  margin-top: 0.5rem;
  background: var(--color-primary-10);
  color: var(--color-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: var(--color-primary-5);
  cursor: pointer;
}
.random-btn:hover {
  background: var(--color-primary-5);
  color: var(--color-primary-1);
}
